<div class="post-add">
  <div class="post-add__title my-3">
    <h1 class="text-center font-bold">Registrar Artículo</h1>
  </div>
  <form class="post-add__form grid gap-y-6" #formAdd="ngForm">
    <div class="input__container grid gap-y-2">
      <label for="title" class="input__title text-xl">Título *</label>
      <input
        type="text"
        name="title"
        id="title"
        class="px-2"
        [(ngModel)]="model.title"
        #title="ngModel"
        minlength="10"
        maxlength="55"
        required
      />
    </div>
    <div
      *ngIf="title.invalid && (title.dirty || title.touched)"
      class="flex justify-center"
    >
      <bg-alert
        [message]="
          'El título es requerido y debe tener entre 10 y 55 caracteres'
        "
      ></bg-alert>
    </div>
    <div class="input__container grid gap-y-2">
      <label for="content" class="input__content text-xl">Contenido *</label>
      <textarea
        name="content"
        id="content"
        class="px-2"
        cols="30"
        rows="5"
        [(ngModel)]="model.content"
        #content="ngModel"
        required
      ></textarea>
    </div>
    <div
      *ngIf="content.invalid && (content.dirty || content.touched)"
      class="flex justify-center"
    >
      <bg-alert [message]="'El contenido es requerido'"></bg-alert>
    </div>
    <div class="input__container grid gap-y-2">
      <label for="urlimage" class="input__urlimage text-xl"
        >Url de la imagen:</label
      >
      <textarea
        type="text"
        name="urlimage"
        id="urlimage"
        class="px-2"
        cols="30"
        rows="2"
        [(ngModel)]="model.urlImage"
        #urlImage="ngModel"
        minlength="10"
        maxlength="230"
        required
      ></textarea>
    </div>
    <div
      *ngIf="urlImage.invalid && (urlImage.dirty || urlImage.touched)"
      class="flex justify-center"
    >
      <bg-alert
        [message]="
          'La URL de la imagen es requerida y debe tener entre 10 y 230 caracteres'
        "
      ></bg-alert>
    </div>
    <div class="input__container grid gap-y-2">
      <label for="category" class="input__category text-xl">Categoría *</label>
      <input
        type="text"
        name="category"
        id="category"
        class="px-2"
        [(ngModel)]="model.category"
        #category="ngModel"
        minlength="2"
        maxlength="40"
        required
      />
    </div>
    <div
      *ngIf="category.invalid && (category.dirty || category.touched)"
      class="flex justify-center"
    >
      <bg-alert
        [message]="
          'La categoría es requerida y debe tener entre 2 y 40 caracteres'
        "
      ></bg-alert>
    </div>
    <button
      type="submit"
      class="btn"
      (click)="onSubmit()"
      [disabled]="formAdd.form.invalid || formAdd.form.untouched"
    >
      Registrar
    </button>
  </form>
</div>
