.card {
  border-radius: 10px;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  height: 100%;

  &__header {
    position: relative;
    height: 190px;
    overflow-y: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
    }
  }

  &__title {
    height: 1.5rem;
    font-size: 1.125rem;
  }

  &__body {
    padding: 20px 30px;
    row-gap: 10px;
  }
}

.card:hover {
  .hover__img {
    height: 190px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 146, 202, 0.2);
    z-index: 4;
  }

  .card__title {
    color: var(--color-secondary);
  }

  .card__description {
    color: var(--color-gray);
  }
}

.ts-df {
  transition-property: background-color, color;
  transition-duration: 0.3s;
}
