<div class="cards__container grid justify-evenly">
  <bg-card
    [title]="'Zorro en la nieve'"
    [imageUrl]="
      'https://images.unsplash.com/photo-1474511320723-9a56873867b5?auto=format&fit=crop&w=400'
    "
    [content]="
      'Los zorros son animales fascinantes que se adaptan perfectamente al frío invierno. En esta imagen, podemos ver a un grupo de zorros blancos jugando y explorando la nieve.'
    "
  ></bg-card>
  <bg-card
    [title]="'La belleza en la simplicidad'"
    [imageUrl]="
      'https://images.unsplash.com/photo-1506619216599-9d16d0903dfd?auto=format&fit=crop&w=400'
    "
    [content]="
      'El minimalismo es un estilo de vida que busca la simplicidad y la reducción de elementos innecesarios. En esta imagen, podemos apreciar u'
    "
  ></bg-card>
  <bg-card
    [title]="'Taza de café durante el trabajo'"
    [imageUrl]="
      'https://images.unsplash.com/photo-1661956602868-6ae368943878?auto=format&fit=crop&w=400'
    "
    [content]="
      'El café es una bebida estimulante que nos acompaña en nuestras largas jornadas de trabajo. Aquellos que disfrutamos de una taza de café d'
    "
  ></bg-card>
  <bg-card
    [title]="'Deliciosa ensalada fresca'"
    [imageUrl]="
      'https://images.unsplash.com/photo-1504674900247-0877df9cc836?auto=format&fit=crop&w=400'
    "
    [content]="
      'Una ensalada bien preparada puede ser una comida nutritiva y deliciosa. En esta imagen, podemos apreciar una ensalada colorida y apetitosa,'
    "
  ></bg-card>
  <bg-card
    [title]="'Impresionante paisaje que deja sin aliento'"
    [imageUrl]="
      'https://images.unsplash.com/photo-1472214103451-9374bd1c798e?auto=format&fit=crop&w=400'
    "
    [content]="
      'La belleza de la naturaleza nos regala paisajes impresionantes que nos dejan sin aliento.'
    "
  ></bg-card>
  <bg-card
    [title]="'Maravillosa arquitectura muy funcional'"
    [imageUrl]="
      'https://images.unsplash.com/photo-1488972685288-c3fd157d7c7a?auto=format&fit=crop&w=400'
    "
    [content]="
      'La arquitectura es una forma de arte que une belleza y funcionalidad en la creación de espacios habitables.'
    "
  ></bg-card>
</div>
