.primary-content {
  padding: 50px 70px;
  min-height: calc(100vh - 170px);

  @media screen and (max-width: 1200px) {
    padding: 50px 30px;
  }

  @media screen and (max-width: 800px) {
    padding: 30px 15px;
  }
}
