<div class="comments">
  <div class="comments__title text-xl">
    <h4>Comentar:</h4>
  </div>
  <form action="/" method="POST" class="comments__form grid gap-y-2">
    <div class="input__container">
      <label for="comment" class="grid">
        <textarea
          #commentInput
          name="comment"
          id="comment"
          cols="20"
          rows="5"
          class="px-2"
          (input)="updateCommentText(commentInput.value)"
        ></textarea>
      </label>
      <div *ngIf="isNotEmpty" class="flex justify-center">
        <bg-alert [message]="'El campo no puede estar en blanco.'"></bg-alert>
      </div>
    </div>
    <input type="button" value="Registrar" (click)="addComment()" class="btn" />
  </form>
</div>
