<div class="comments">
  <div class="comments__title text-xl">
    <h4>Comentar:</h4>
  </div>
  <form action="/" method="POST" class="comments__form grid gap-y-2">
    <div class="input__container">
      <label for="comment" class="grid">
        <textarea
          #commentInput
          name="comment"
          id="comment"
          cols="20"
          rows="5"
          class="px-2"
          (input)="updateCommentText(commentInput.value)"
        ></textarea>
      </label>
      <div *ngIf="isNotEmpty" class="flex justify-center">
        <div
          class="bg-red-100 text-red-800 py-2 px-14 mb-3 border-2 border-red-800 rounded-md"
        >
          <p class="text-sm text-center font-bold">
            El campo no puede estar en blanco.
          </p>
        </div>
      </div>
    </div>
    <input type="button" value="Registrar" (click)="addComment()" class="btn" />
  </form>
</div>
