<section class="post">
  <div class="post__header overflow-y-hidden">
    <img src="https://images.unsplash.com/photo-1474511320723-9a56873867b5?auto=format&fit=crop&w=872&q=1000" alt=""
      class="post__picture w-full" />
  </div>
  <div>
    <h5 class="post__category border border-solid inline-block px-4 py-0.5 text-sm">
      Cate
    </h5>
  </div>
  <article class="post__body">
    <div>
      <h1 class="post__title font-bold text-center text-3xl py-5 px-12">Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Deserunt, quo!</h1>
    </div>
    <div class="py-3">
      <p class="post__content text-justify text-sm font-normal">
        LLorem ipsum dolor sit amet consectetur. Leo et laoreet porttitor nunc amet. Lorem feugiat amet dui rhoncus. Sed
        mus arcu venenatis fermentum sagittis nascetur vestibulum interdum convallis. Imperdiet sit augue pulvinar
        nulla. Lectus neque eu ornare viverra condimentum. At eleifend arcu tempor eu quis elementum. A accumsan
        ullamcorper vitae ac vestibulum tortor viverra.
        Quis imperdiet turpis sapien et enim. Risus morbi tristique proin mollis id mauris rhoncus sit. Donec purus
        imperdiet leo faucibus sit enim sollicitudin. In ultricies facilisi integer eu malesuada quis vitae. Odio nisl
        et aliquam leo velit. Integer interdum bibendum diam adipiscing. Velit lorem nisi scelerisque mattis turpis vel
        scelerisque. Malesuada mattis et ullamcorper volutpat. Id vulputate eget curabitur at amet.\n

        Nunc sapien eget eget ac congue viverra dolor risus. Venenatis vel bibendum aliquam arcu in. Tortor vel tellus
        amet vestibulum augue lectus augue arcu fermentum. Ut risus semper enim eget condimentum at arcu. A ac euismod
        consectetur ultrices ornare risus orci vestibulum. Lobortis enim turpis eget at varius tincidunt consequat nibh
        non. Enim pulvinar ullamcorper quis pharetra varius sit. A tempor porttitor orci bibendum tincidunt in
        pellentesque suspendisse. Nulla volutpat tempor accumsan sapien. Pretium massa faucibus blandit sed eget donec.
        Et molestie duis aenean in ac.

        Eu dignissim est morbi morbi nulla. Commodo egestas vestibulum euismod ut dictumst integer cursus ipsum
        ullamcorper. Nunc orci a adipiscing nibh tellus massa. Posuere quam pellentesque eget aliquet magna. Est nam
        urna diam imperdiet lectus aenean id pellentesque. Felis eu ornare tristique donec et nulla. Orci duis sed
        vivamus metus. Ut maecenas ornare nulla in ac quam. Felis turpis eu urna sit interdum dolor lorem felis
        pellentesque. Aliquet lacus est consequat interdum habitant nunc. Malesuada aenean sed eu pharetra ut posuere
        non lacus commodo. Vitae ipsum eros cursus orci rhoncus mi fermentum elit sollicitudin.

        Hac accumsan non interdum quis eu gravida. Nulla enim viverra quam magna. Tincidunt mi vitae eget viverra
        tempor. Non blandit mi lacus feugiat facilisis sagittis tortor. Pretium sed nunc scelerisque tempor eros.
        Tincidunt nullam faucibus viverra orci ipsum. Nibh pretium aliquet faucibus venenatis sed ac tellus rhoncus.
        Quam condimentum tempor sem porttitor elit. Cursus varius etiam tincidunt pulvinar. Quis ac volutpat pretium
        viverra mi turpis purus. Eget at ut donec semper. Purus felis tellus egestas eleifend porttitor in. Arcu enim
        suspendisse sapien sed ut amet.
      </p>
    </div>
  </article>
  <bg-comments></bg-comments>
</section>
