.post {
  margin: auto;
  max-width: 1000px;

  &__header {
    position: relative;
    height: 31.25rem;
  }

  &__picture {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
  }

  &__info {
    margin: 1rem 50px 0;
  }

  &__category {
    background-color: var(--color-light);
    border-color: var(--color-gray);
    color: var(--color-gray);
    border-radius: 0.4rem;
  }

  &__body {
    margin: 0 50px;
  }

  &__content {
    font-size: 1.125rem;
    line-height: normal;
  }

  @media screen and (max-width: 1200px) {
    max-width: unset;

    &__header {
      height: 25rem;
    }

    &__body {
      margin: 0 30px;
    }

    &__title {
      font-size: 1.75rem;
      line-height: 2.125rem;
    }

    &__content {
      font-size: 1rem;
      line-height: 1.4rem;
    }
  }

  @media screen and (max-width: 800px) {
    &__header {
      height: 18rem;
    }

    &__title {
      font-size: 1.5rem;
      line-height: 2rem;
    }

    &__content {
      font-size: 0.875rem;
    }
  }

  @media screen and (max-width: 500px) {
    &__header {
      height: 14rem;
    }
  }
}

.comments-container {
  padding: 50px 30px;
}
